body{
	font: 1em, sans-serif;
}
.comments_part{
	width: 100%;
}
.comment{
	padding: 10px 10px 0px 10px;
}
.comment:after{
	content: " ";
	display: table;
	clear: both;
}
.profile_image, 
.comment_body{
	float: left;
}
.profile_image img{
	width: 65px;
	border-radius: 50%;
}
.comment_body{
	padding-left: 5px;
	width: 80%;
}
.comment_body p{
	margin-top: 10px;
}
.comment_info{
	font-size: 12px;
	font-weight: bold;
}

