<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title :D</title>
</head>
<body>
<form action="{% url 'app:login' %}" method="post">
    {% csrf_token %}
    <input type="text" id="username" name="username" required><br>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Login" />
</form>
<a href="{% url 'app:logout' %}">Logout</a>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>
</html>